.dragging {
  border: 1px dashed grey;
}

.query-options-wrapper{
	border-left:1px solid rgba(0, 0, 0, 0.12);
}

.nestable-item{
	border:1px solid #CCC;
	background:#EEE;
	margin:10px;
}

.query-item{
	border:1px dashed #CCC;
	background:#FFF;
	padding:10px;
	margin:10px;
}
