.dragging {
  border: 1px dashed grey;
}

.query-options-wrapper{
	border-left:1px solid rgba(0, 0, 0, 0.12);
}

.nestable-item{
	border:1px solid #DDD;
	border-radius:5px;
	background:#EEE;
	margin:10px;
}

.query-condition-and,.query-condition-or{
	font-size:1em;
	padding:5px;
	display:flex;
	justify-content:space-between;
}
.query-condition-or{
}

.query-and-text,.query-or-text{
	display:none;
}
.query-condition-or .query-or-text{
}



.query-condition{
	background:#FFF;
	padding:0;
	margin:0px;
}

.query-editor{
	margin:0px;
	padding:10px;
}

.query-editor .auto-form{
	width:100%;
	display:flex;
	flex-wrap:wrap;
}

.auto-form-field{
	padding:0px;
	margin:0 10px;
}
.auto-form-field-select{
	min-width:200px
}
.auto-form-field-no-display{
	display:none;
}


.nestable .nestable-list{
	padding:0;
}
