
<div class="section-block">
  <h3 id="publisher" class="section-title">Publisher</h3>
  <p class="text-muted">Advanced longform text input form element.</p>
</div>



<div class="section-block">
  
  <div class="card">
    
    <div class="card-body">
      {% include ui/publisher-01.html %}
    </div>
    
  </div>
  

  
  <div class="card">
    
    <div class="card-body">
      {% include ui/publisher-02.html %}
    </div>
    
  </div>
  

  
  <div class="card">
    
    <div class="card-body">
      {% include ui/publisher-03.html %}
    </div>
    
  </div>
  

  
  <div class="card">
    
    <div class="card-body">
      {% include ui/publisher-04.html %}
    </div>
    
  </div>
  

  
  <div class="card">
    
    <div class="card-body">
      {% include ui/publisher-05.html %}
    </div>
    
  </div>
  
</div>

