
<div id="switcher" class="card">
  
  <div class="card-body">
    <h3 class="card-title">Switcher</h3>
  </div>
  

  
  <div class="list-group list-group-flush list-group-bordered">
    
    <div class="list-group-item d-flex justify-content-between align-items-center">
      <span>Default</span>
      
      <label class="switcher-control">
        <input type="checkbox" class="switcher-input" checked>
        <span class="switcher-indicator"></span>
      </label>
      
    </div>
    

    
    <div class="list-group-item d-flex justify-content-between align-items-center">
      <span>Disabled</span>
      
      <label class="switcher-control">
        <input type="checkbox" class="switcher-input" checked disabled>
        <span class="switcher-indicator"></span>
      </label>
      
    </div>
    

    
    <div class="list-group-item d-flex justify-content-between align-items-center">
      <span>Success</span>
      
      <label class="switcher-control switcher-control-success">
        <input type="checkbox" class="switcher-input" checked>
        <span class="switcher-indicator"></span>
      </label>
      
    </div>
    

    
    <div class="list-group-item d-flex justify-content-between align-items-center">
      <span>Danger</span>
      
      <label class="switcher-control switcher-control-danger">
        <input type="checkbox" class="switcher-input" checked>
        <span class="switcher-indicator"></span>
      </label>
      
    </div>
    

    
    <div class="list-group-header">Switcher radio</div>
    

    
    <div class="list-group-item d-flex justify-content-between align-items-center">
      <span>Toggle radio #1</span>
      
      <label class="switcher-control">
        <input type="radio" name="switchRadio" class="switcher-input">
        <span class="switcher-indicator"></span>
      </label>
      
    </div>
    

    
    <div class="list-group-item d-flex justify-content-between align-items-center">
      <span>Toggle radio #2</span>
      
      <label class="switcher-control">
        <input type="radio" name="switchRadio" class="switcher-input" checked>
        <span class="switcher-indicator"></span>
      </label>
      
    </div>
    

    
    <div class="list-group-header">Sizing & labels</div>
    

    
    <div class="list-group-item d-flex justify-content-between align-items-center">
      <span>Large size</span>
      
      <label class="switcher-control switcher-control-lg">
        <input type="checkbox" class="switcher-input" checked>
        <span class="switcher-indicator"></span>
      </label>
      
    </div>
    
    
    <div class="list-group-item d-flex justify-content-between align-items-center">
      <span>Label icon</span>
      
      <label class="switcher-control">
        <input type="checkbox" class="switcher-input" checked>
        <span class="switcher-indicator"></span>
        <span class="switcher-label-on"><i class="fas fa-check"></i></span>
        <span class="switcher-label-off"><i class="fas fa-times"></i></span>
      </label>
      
    </div>
    
    
    <div class="list-group-item d-flex justify-content-between align-items-center">
      <span>Large + label</span>
      <div>
        
        <label class="switcher-control switcher-control-success switcher-control-lg">
          <input type="checkbox" class="switcher-input" checked>
          <span class="switcher-indicator"></span>
          <span class="switcher-label-on"><i class="fas fa-check"></i></span>
          <span class="switcher-label-off"><i class="fas fa-times"></i></span>
        </label>
        
        
        <label class="switcher-control switcher-control-danger switcher-control-lg">
          <input type="checkbox" class="switcher-input" checked>
          <span class="switcher-indicator"></span>
          <span class="switcher-label-on"><i class="fas fa-lock"></i></span>
          <span class="switcher-label-off"><i class="fas fa-unlock"></i></span>
        </label>
        
      </div>
    </div>
    
    
    <div class="list-group-item d-flex justify-content-between align-items-center">
      <span>Label text</span>
      
      <label class="switcher-control switcher-control-lg">
        <input type="checkbox" class="switcher-input" checked>
        <span class="switcher-indicator"></span>
        <span class="switcher-label-on">ON</span>
        <span class="switcher-label-off">OFF</span>
      </label>
      
    </div>
    
  </div>
  
</div>

