
<div class="modal fade" id="membersModal" tabIndex="-1" role="dialog" aria-hidden="true">
  
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    
    <div class="modal-content">
      
      <div class="modal-header">
        
        <div class="input-group has-clearable">
          <button type="button" class="close" aria-label="Close">
            <i class="fa fa-times-circle"></i>
          </button>
          <div class="input-group-prepend">
            <span class="input-group-text">
              <span class="oi oi-magnifying-glass"></span>
            </span>
          </div>
          <input type="text" class="form-control" placeholder="Search Members">
        </div>
        
      </div>
      

      
      <div class="modal-body px-0">
        {% assign limit = 10 %}
        {% assign offset = 3 %}
        {% assign max = limit | plus:offset | minus:1 %}
        {% include ui/member-list-01.html %}
      </div>
      

      
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
      </div>
      
    </div>
    
  </div>
  
</div>

