
{% if keepFocus %}
<div class="publisher keep-focus focus">
{% else %}
<div class="publisher">
{% endif %}
  <label for="publisherInput1" class="publisher-label">Write something</label>
  
  <div class="publisher-input">
    <textarea id="publisherInput1" class="form-control" placeholder="Write something"></textarea>
  </div>
  
  
  <div class="publisher-actions">
    
    <div class="publisher-tools mr-auto">
      <div class="btn btn-light btn-icon fileinput-button">
        <i class="fa fa-paperclip"></i>
        <input type="file" id="attachment1" name="attachment1[]" multiple>
      </div>
      <button type="button" class="btn btn-light btn-icon"><i class="far fa-smile"></i></button>
    </div>
    
    <button type="submit" class="btn btn-primary">Publish</button>
  </div>
  
</div>

