
<div class="media">
  <figure class="user-avatar user-avatar-md mr-2">
    <img src="assets/images/avatars/profile.jpg" alt="">
  </figure>
  
  <div class="media-body">
    
    {% if keepFocus %}
    <div class="publisher publisher-alt keep-focus focus">
    {% else %}
    <div class="publisher publisher-alt">
    {% endif %}
      
      <div class="publisher-input">
        <textarea class="form-control" placeholder="Write a comment"></textarea>
      </div>
      
      
      <div class="publisher-actions">
        
        <div class="publisher-tools mr-auto">
          <div class="btn btn-light btn-icon fileinput-button">
            <i class="fa fa-paperclip"></i>
            <input type="file" id="attachment4" name="attachment4[]" multiple>
          </div>
          <button type="button" class="btn btn-light btn-icon"><i class="far fa-smile"></i></button>
        </div>
        
        <button type="submit" class="btn btn-primary">Publish</button>
      </div>
      
    </div>
    
  </div>
  
</div>

