{% assign uploaded = site.data.files | group_by:"date" %}

<div class="list-group list-group-reflow list-group-flush list-group-divider">
  {% for upload in uploaded %}
  
  <div class="list-group-header">{{upload[0]}}</div>
  

  {% for file in upload[1] %}
  
  <div class="list-group-item align-items-start">
    <div class="list-group-item-figure">
      <a href="#" class="tile tile-circle bg-{{file.color}}"><span class="fa fa-file-{{file.type}}"></span></a>
    </div>
    <div class="list-group-item-body">
      <h4 class="list-group-item-title text-truncate"><a href="#">{{file.name}}</a></h4>
      <p class="list-group-item-text">{{file.size}} by {{file.uploadedBy}}</p>
      <p class="list-group-item-text small">{{file.time}}</p>
    </div>
    <div class="list-group-item-figure">
      
      <div class="dropdown">
        <button class="btn btn-sm btn-icon btn-light" data-toggle="dropdown">
          <i class="fa fa-fw fa-ellipsis-v"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-right">
          <div class="dropdown-arrow mr-n1"></div>
          <button type="button" class="dropdown-item">Download</button>
          <button type="button" class="dropdown-item">View details</button>
          <button type="button" class="dropdown-item">Share file</button>
          <button type="button" class="dropdown-item">Copy link file</button>
          <div class="dropdown-divider"></div>
          <button type="button" class="dropdown-item">Remove</button>
        </div>
      </div>
      
    </div>
  </div>
  
  {% endfor %}
  {% endfor %}
</div>

