
<div class="todo-list">
  
  <div class="todo-header">Looper Admin Theme (1/3)</div>
  

  
  <div class="todo">
    
    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="todo1">
      <label class="custom-control-label" for="todo1">Eat corn on the cob</label>
    </div>
    
  </div>
  
  
  <div class="todo">
    
    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="todo2" checked>
      <label class="custom-control-label" for="todo2">Mix up a pitcher of sangria</label>
    </div>
    
  </div>
  
  
  <div class="todo">
    
    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="todo3">
      <label class="custom-control-label" for="todo3">Have a barbecue</label>
    </div>
    
  </div>
  
  
  <div class="todo">
    
    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="todo4">
      <label class="custom-control-label" for="todo4">Ride a roller coaster &mdash; <span class="text-red small">Overdue in 3 days</span></label>
    </div>
    
  </div>
  

  
  <div class="todo-header">Smart Paper (0/2)</div>
  

  
  <div class="todo">
    
    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="todo5">
      <label class="custom-control-label" for="todo5">Bring a blanket and lie on the grass at an outdoor concert</label>
    </div>
    
  </div>
  
  
  <div class="todo">
    
    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="todo6">
      <label class="custom-control-label" for="todo6">Collect seashells at the beach</label>
    </div>
    
  </div>
  
  
  <div class="todo">
    
    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="todo7">
      <label class="custom-control-label" for="todo7">Swim in a lake</label>
    </div>
    
  </div>
  
  
  <div class="todo">
    
    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="todo8">
      <label class="custom-control-label" for="todo8">Get enough sleep!</label>
    </div>
    
  </div>
  
</div>

