
<div class="card card-fluid">
  <img src="assets/images/dummy/img-8.jpg" alt="" class="card-img-top img-fluid">
  
  <div class="card-body pt-2">
    
    <div class="row align-items-center mb-3">
      
      <div class="col-auto">
        
        <a href="user-profile.html" class="user-avatar user-avatar-floated user-avatar-xl">
          <img src="assets/images/avatars/uifaces6.jpg" alt="">
        </a>
        
      </div>
      
      
      
      <div class="col">
        <h3 class="card-title"><a href="user-profile.html">Jonathan Stewart</a></h3>
        <h6 class="card-subtitle text-muted">UI/UX Designer</h6>
      </div>
      
      
      
      <div class="col-auto">
        <button class="btn btn-secondary"><i class="fas fa-user-plus"></i> Follow</button>
      </div>
      
    </div>
    

    
    <div class="row text-center">
      
      <div class="col">
        
        <div class="metric">
          <h6 class="metric-value">54</h6>
          <p class="metric-label">Projects</p>
        </div>
        
      </div>
      
      
      <div class="col">
        
        <div class="metric">
          <h6 class="metric-value">53</h6>
          <p class="metric-label">Completed</p>
        </div>
        
      </div>
      
      
      <div class="col">
        
        <div class="metric">
          <h6 class="metric-value">2</h6>
          <p class="metric-label">On Going</p>
        </div>
        
      </div>
      
    </div>
    
  </div>
  
</div>

