
<div class="section-block">
  <h2 class="section-title"><i class="fa fa-tag fa-fw"></i> v1.4.2 (Apr 3, 2020)</h2>
  <ul>
    <li>Enhancement: Rename <code>.input-group-reflow</code> to <code>.input-group-plaintext</code></li>
    <li>Enhancement: Replace <code>copy:vendor</code> task using gulp-npm-dist – <strong>breaking changes</strong></li>
    <li>Enhancement: Improve component-steps UX</li>
    <li>Enhancement: Improve pagecover-img page to get better responsiveness</li>
    <li>Fixed: Summernote airmode bug</li>
    <li>Fixed: noUI slider-handle misplacement</li>
    <li>Fixed: Select2 dropdown width bug</li>
    <li>Fixed: Collections pages not loaded when using compact menu</li>
    <li>Fixed: Ganttview not focus when using compact menu</li>
    <li>Fixed: Top nav user avatar dropdown arrow on small devices</li>
    <li>Fixed: Dependencies vulnerabilities</li>
  </ul>

  <div class="alert alert-warning m-4" role="alert">
    <h6 class="alert-heading">Breaking changes!</h6>
    <p>Regarding to the use of <em>gulp-npm-dist</em>, the destination of the <em>vendor:copy</em> is handled automatically. Make sure you check that every vendor you use on your project is going to the right path.</p>
  </div>
</div>

